*{
	padding: 0;
	margin: 0;
	
}
body{
	background-image: url("/img/denglu/bg-top.jpg");
}
#xiaorongqi{
	margin: 0 auto;
	width: 800px;
	padding-top: 100px;
	
}
#xiaorongqi .logo{
	width: 278px;
	height:179px;
    margin: 0 auto;
    margin-top: -30px;

}
#zhanghao{
	width:408px ;
	height: 42px;
	margin-top: 25px;
	margin-left: 188px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
#mima{
	width:408px ;
	height: 42px;
	margin-top: 20px;
	margin-left: 188px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
#denglu{
	width:433px ;
	height: 39px;
	margin-top: 50px;
	margin-left: 188px;
	font-size: 20px;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
}
#xiaorongqi .xiantiao{
	position: relative;
}
#xiaorongqi .xt1{
	margin-top: 50px;
	margin-left: 150px;
	width:520px;
}
#xiaorongqi .kuang{
	background-color:black;
	width: 170px;
	height: 50px;
	position: absolute;
	left: 320px;
	top: -20px;
	color: gray;
	line-height: 50px;
	padding-left: 20px;
	font-weight: bold;
}
#xiaorongqi .logo2{
	width: 48px;
	height: 46px;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 62px;
}
#wangyi{
	margin-top: 14px;
}
#xiaorongqi a{
	text-decoration: none;
	color: dodgerblue;
	font-size: 18px;
	font-weight: bold;
	
}
#xiaorongqi a:hover{
	text-decoration: underline;
}
#xiaorongqi .diyiju{
	margin-top: 60px;
	margin-left: 330px;
}
#xiaorongqi .dierju{
	margin-top: 26px;
	margin-left: 361px;
}
#xiaorongqi .disanju{
	margin-top: 27px;
	margin-left: 340px;
}
#xiaorongqi .banquan{
	background-color: pink;
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
