*{
	padding: 0;
	margin: 0;
	
}
body{
	background-image: url("/img/denglu/bg-top.jpg");
}
.xiaorongqi{
	margin: 0 auto;
	width: 800px;
	padding-top: 100px;
	
}
.logo{
	width: 300px;
	height:200px;
	
    margin: 0 auto;

}
#zhanghao{
	width:500px ;
	height: 50px;
	margin-top: 50px;
	margin-left: 150px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
#mima{
	width:500px ;
	height: 50px;
	margin-top: 20px;
	margin-left: 150px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
#denglu{
	width:520px ;
	height: 50px;
	margin-top: 50px;
	margin-left: 150px;
	font-size: 20px;
	padding-left: 20px;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
}
.xiantiao{
	position: relative;
}
.xt1{
	margin-top: 50px;
	margin-left: 150px;
	width:520px;
}
.kuang{
	background-color:black;
	width: 170px;
	height: 50px;
	position: absolute;
	left: 320px;
	top: -20px;
	color: gray;
	line-height: 50px;
	padding-left: 20px;
	font-weight: bold;
}
.logo2{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 50px;
}
#wangyi{
	margin-top: 10px;
}
a{
	text-decoration: none;
	color: dodgerblue;
	font-size: 20px;
	font-weight: bold;
	
}
a:hover{
	text-decoration: underline;
}
.diyiju{
	margin-top: 60px;
	margin-left: 320px;
}
.dierju{
	margin-top: 30px;
	margin-left: 360px;
}
.disanju{
	margin-top: 30px;
	margin-left: 332px;
}
.banquan{
	background-color: pink;
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
