*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("/img/dierge/bg-top.jpg");
}
#xiaorongqi{
	margin: 0 auto;
	width: 800px;
	padding-top: 40px;
}
#xiaorongqi .logo{
	width: 250px;
	height:150px;
    margin: 0 auto;

}
#xiaorongqi .text{
	color: white;
	font-size: 20px;
	padding-top: 40px;
	text-align: center;
}
#xiaorongqi .text2{
	margin-top: 30px;
}
#xiaorongqi p{
	text-align: center;
	color: white;
	font-size: 20px;
}
#xiaorongqi .san{
	display: inline-block;
	margin-left: 129px;
}
#xiaorongqi a{
	text-decoration: none;
	color: dodgerblue;
	font-size: 23px;
	font-weight: bold;
}
#xiaorongqi a:hover{
	text-decoration: underline;
}
#guojia{
	width:473px ;
	height: 51px;
	margin-top: 30px;
	margin-left: 156px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: grey;
}
#shenfenzheng{
	width:450px ;
	height: 40px;
	margin-top: 20px;
	margin-left: 154px;
	font-size: 20px;
	padding-left: 20px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
#jixu1{
	width:474px ;
	height: 50px;
	margin-top: 46px;
	margin-left: 157px;
	font-size: 25px;
	font-weight: bold;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
}
#xiaorongqi .xiantiao{
	position: relative;
}
#xiaorongqi .xt1{
	margin-top: 50px;
	margin-left: 120px;
	width:550px;
}
#xiaorongqi .kuang{
	background-color:black;
	width: 170px;
	height: 50px;
	position: absolute;
	left: 312px;
	top: -20px;
	color: gray;
	line-height: 50px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
}
#xiaorongqi .logo2{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 50px;
}
#wangyi{
	margin-top: 13px;
}
#xiaorongqi .si{
	display: inline-block;
	margin-left: 300px;
	margin-top: 20px;
}
#xiaorongqi .logo3{
	width: 340px;
	height:300px;
    margin: 0 auto;
    margin-top: 50px;
}
