*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("/img/disange/bg-top.jpg");
}

.clearfix:after{
     content:".";
     display:block;
     height:0;
     clear:both;
     visibility:hidden;
}

#xiaorongqi{
	margin: 0 auto;
	width: 1400px;
	padding-top: 40px;
	
	}
#xiaorongqi .logo{
	width: 270px;
	height:160px;
    margin: 0 auto;

}
#xiaorongqi .text{
	color: white;
	font-size: 23px;
	padding-top: 50px;
	text-align: center;
}
#xiaorongqi .text2{
	margin-top: 30px;
}
#xiaorongqi p{
	text-align: center;
	color: white;
	font-size: 23px;
}
#xiaorongqi .dafangkuang{
	width: 1200px;
	margin-left: 100px;
}
#xiaorongqi .fangkuan{
	width: 220px;
	height: 210px;
	background-color: rgb(41,43,51);
	border-radius: 5px ;
	cursor: pointer;
	border: 2px solid rgb(41,43,51);
	transition: border 0.2s linear;
	margin-top: 30px;
	margin-left: 62px;
	float: left;
}
#xiaorongqi .fangkuan:hover{
	border-color:rgb(200,200,200);
	
}
#xiaorongqi .yaoshi{
	width: 150px;
	height: 100px;
	margin-left: 70px;
	margin-top: 30px;
	
}
#xiaorongqi .text3{
	margin-top: 100px;
	margin-left: 380px;
}
#xiaorongqi a{
	text-decoration: none;
	color: dodgerblue;
	font-size: 20px;
	
	letter-spacing: 3px;
}
#xiaorongqi a:hover{
	text-decoration: underline;
}
#xiaorongqi .logo1{
	width: 300px;
	height: 200px;
	margin-top:166px;
	margin-left: 550px;
}
