*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("/img/disange/bg-top.jpg");
}

.clearfix:after{
     content:".";
     display:block;
     height:0;
     clear:both;
     visibility:hidden;
}

.xiaorongqi{
	margin: 0 auto;
	width: 1400px;
	padding-top: 40px;
	
	}
.logo{
	width: 270px;
	height:160px;
    margin: 0 auto;

}
.text{
	color: white;
	font-size: 25px;
	padding-top: 50px;
	text-align: center;
}
.text2{
	margin-top: 30px;
}
p{
	text-align: center;
	color: white;
	font-size: 23px;
}
.dafangkuang{
	width: 1200px;
	margin-left: 100px;
}
.fangkuan{
	width: 250px;
	height: 250px;
	background-color: rgb(41,43,51);
	border-radius: 5px ;
	cursor: pointer;
	border: 2px solid rgb(41,43,51);
	transition: border 0.2s linear;
	margin-top: 80px;
	margin-left: 40px;
	float: left;
}
.fangkuan:hover{
	border-color:rgb(200,200,200);
	
}
.yaoshi{
	widows: 150px;
	height: 100px;
	margin-left: 70px;
	margin-top: 30px;
	
}
.text3{
	margin-top: 100px;
	margin-left: 380px;
}
a{
	text-decoration: none;
	color: dodgerblue;
	font-size: 20px;
	
	letter-spacing: 3px;
}
a:hover{
	text-decoration: underline;
}
.logo1{
	width: 300px;
	height: 200px;
	margin-top:250px;
	margin-left: 550px;
}
