*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("/img/disige/default-background.e2a244b6.jpg");
}
#darongqi .erto{
	background-color: rgba(0,42,84,0.4);
	
	height: 60px;
}
#darongqi a:hover{
	color: white;
}
#darongqi a{
	color: grey;
	text-decoration: none;
}
#darongqi .zuoyi{
	margin-left: 60px;
	width: 200px;
	height: 70px;
	float: left;

}
#darongqi .tupian{
	cursor: pointer;
	float: left;
	margin-left: 10px;
}
#darongqi .wenzi{
	float: left;
}
#darongqi .clearfix::after{
     content:".";
     display:block;
     height:0;
     clear:both;
     visibility:hidden;
}
#darongqi .tupian img {
	width: 25px;
	height: 25px;
	margin-top: 20px;
}
#darongqi .text{
	font-size: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
#darongqi .you{
	float: right;
	margin-right: 50px;
	width: 600px;
	height: 60px;
	
}
#darongqi .santo{
	margin: 0 auto;
	margin-top: 50px;
}
#darongqi .list1{
	width: 1300px;
	margin: 0 auto;
	height: 70px;
	background-color: white;
	border-left: 8px solid orange;
	margin-top: 5px;
}
#darongqi .list1:hover{
	width: 1300px;
	margin: 0 auto;
	height: 70px;
	background-color:powderblue;
	margin-top: 5px;
	cursor: pointer;
}
#darongqi .logo1{
	float: left;
	margin-left: 10px;
}
#darongqi .logo1 img {
	width: 55px;
	height: 50px;
	margin-top: 8px;
}
#darongqi .text1{
	font-size: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-weight: bold;
}
#darongqi .text2{
	font-size: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
#darongqi .cha{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	
}
#darongqi .xia{
	margin: 0 auto;
}
#darongqi .zuo{
	margin-top: 50px;
	width: 800px;
	margin-left: 100px;
	float: left;
}
#darongqi .you1{
	margin-top: 50px;
	width: 600px;
	float: right;
	margin-right: 19px;
}
#darongqi .text3{
	color: white;
	font-size: 48px;
}
#darongqi .text4{
	color: gray;
	font-size: 20px;
}
#anniu1{
	width:400px ;
	height: 50px;
	margin-top: 50px;
	margin-left: 255px;
	font-size: 20px;
	background-color: rgb(14,134,202);
	color: white;
	
}
#anniu1:hover{
	background-color: deepskyblue;
	cursor: pointer;
}
#anniu2{
	width:400px ;
	height: 50px;
	margin-top: 20px;
	margin-left: 253px;
	font-size: 20px;
	background-color: rgb(14,134,202);
	color: white;
	
}
#anniu2:hover{
	background-color: deepskyblue;
	cursor: pointer;
}
#darongqi .xiantiao{
	width: 764px;
	font-weight: bold;
	margin-top: 60px;
}
#darongqi .text5{
	color: white;
	font-size: 25px;
	margin-top: 30px;
}
#darongqi .text5 a{
	color: deepskyblue;
}
#darongqi .kuang{
	width: 389px;
	height: 50px;
	margin-left: 71px;
	background-color: rgb(0,23,46);
	color: white;
	padding-left: 50px;
	font-size: 20px;
	position: relative;
}
#darongqi .sosuo{
	width: 40px;
	height: 35px;
	position: absolute;
	left: 976px;
	top: 387px;
}
#darongqi .text6{
	color: white;
	font-size: 45px;
	margin-left: 71px;
	margin-top: 20px;
}
#darongqi .yousan{
	margin-left: 71px;
	margin-top: 20px;
}
#darongqi .yousan a{
	color: dodgerblue;
	font-size: 30px;
}
#darongqi .yousan p{
	color: white;font-size: 25px;
}
#darongqi .yousan a:hover
{
	color: deepskyblue;
}
#darongqi .zuiho{
	margin-top: 212px;
	margin-left: -311px;
}
#darongqi .logo{
	height: 114px;
	width: 217px;
}

#daohang .left .logo10 {
	height: 50px;
}